<section>
  <h2 class="dark:text-white mb-8 text-5xl mx-auto w-fit">
  </h2>

  <div class="my-10">
    <div class=" flex items-center ">
      <label for="search" class=" p-4 rounded-s-lg text-base bg-gray-300 dark:bg-gray-600 font-medium text-gray-900  dark:text-white">{{"products.SEARCH" | translate}}</label>
      <input [(ngModel)]="text" type="search" id="search" class="block w-full p-4 ps-10  text-gray-900 border border-gray-300 rounded-e-lg bg-gray-50 focus:ring-[var(--main-color)] focus:border-[var(--main-color)] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white "
      required
      placeholder="{{'products.SEARCH_BY_PRODUCT_NAME' | translate}}" />
    </div>

  </div>

  <div class="grid gap-5  sm:grid-cols-1 md:grid-cols-3    lg:grid-cols-5 xl:grid-cols-6">
    @for(product of productsList | search:text ; track product.id ){
      <div class="product rounded-lg shadow-lg dark:bg-gray-600 relative " >
        <div>
          <i (click)="addProdutsToWish(product.id)" class="z-10 fa-solid fa-heart-circle-plus absolute top-[10px] end-[10px] text-3xl text-red-600 hover:text-red-700"></i>
        </div>
        <div [routerLink]='["/ProductDetalise", product.id]'   class="cursor-pointer">
          <div class="relative">
            <img class="rounded-t-lg border-b-2" [src]="product.imageCover" [alt]="product.title" />

          </div>
          <div class="p-5">
              <span class="text-[var(--main-color)]   text-sm">
                {{product.category.name}}
              </span>
              <h5 class="mb-3 text-xl font-medium tracking-tight text-gray-900 dark:text-white">{{product.title.split(" ", 2).join(" ")}}</h5>

              <div class="flex items-center justify-between mb-4 dark:text-white text-xl">
                <p>{{product.price}} EGP</p>
                <p class="flex items-center gap-2">
                  <i class="fa-solid fa-star text-yellow-400 hover:text-yellow-400"></i>
                  <span class="text-gray-400">{{product.ratingsAverage}}</span>
                </p>
              </div>
            </div>
        </div>
        <div>

          <button (click)="addToCart(product._id)" [disabled]="(isLoading && this.ClickedId == product._id )"  type="submit" class=" text-white btn-main btn-main-light dark:btn-main-dark block w-full text-base ">
            {{"products.ADD_TO_CART" | translate}}
            @if(isLoading && this.ClickedId == product._id ){
              <span class="fas fa-spin fa-spinner"></span>
            }@else {
              <i class="fa-solid fa-cart-plus hover:text-white"></i>
            }
          </button>
        </div>
      </div>
    }

  </div>



</section>
