<section class="dark:bg-gray-800  flex items-center py-[135px] px-[20px]">

  <!-- step 1 enter email -->
  @if(this.step == 1){
    <form [formGroup]="verifyEmail"   class="dark:bg-gray-600  container mx-auto md:w-[60%] h-100 bg-gray-100 drop-shadow-[var(--shadow)] px-[60px] py-[20px] rounded-[10px]">
      <h2 class="text-2xl ml-[-35px] mb-9 dark:text-white font-xl">Verify Email</h2>

      <div class="relative z-0 w-full mb-7 group ">
          <input formControlName="email"  type="email" name="Email" id="Email" class="block py-3 px-3 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400  focus:outline-none focus:ring-0 focus:border-[var(--main-color)]   peer " placeholder=" " required />

          <label for="Email" class="peer-focus:font-medium peer-focus:text-medium absolute text-medium text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gary-500 peer-focus:dark:text-gray-400 dark:text-gray-200 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Email</label>
          @if(verifyEmail.get("email")?.errors && (verifyEmail.get("email")?.touched || verifyEmail.get("email")?.dirty)){
            <div class="flex p-4 my-2 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
              <div>
                  <ul class="mt-1.5 list-disc list-inside">
                    @if(verifyEmail.get("email")?.getError("required")){
                      <li>This input is required</li>
                    }
                    @if(verifyEmail.get("email")?.getError("email")){
                      <li>Enter Valid Email</li>
                    }
                </ul>
              </div>
            </div>
          }
      </div>
      @if(errMes && !mesSuccess) {
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">{{errMes}}</span>
          </div>
        </div>
      }
      @if(this.mesSuccess){
        <div class="p-4 my-2 text-sm text-green-800 rounded-lg bg-green-200 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span class="font-medium">Success </span> The confirmation code has been sent to your email. <br> Please check your email.
        </div>
      }
      <button [disabled]="isLoading" (click)="sumbitVerifyEmail()" type="submit" class="text-white btn-main btn-main-light dark:btn-main-dark block  ">

        Verify Email
          @if(isLoading){
            <span class="fas fa-spin fa-spinner"></span>
          }
      </button>

    </form>

  }

  <!-- step 2 verify code -->
  @if(this.step == 2){
    <form [formGroup]="verifyCode"  class="dark:bg-gray-600  container md:mx-auto md:w-[60%] h-100 bg-gray-100 drop-shadow-[var(--shadow)] px-[60px] py-[20px] rounded-[10px]">
      <h2 class="text-2xl ml-[-35px] mb-9 dark:text-white font-xl">Verify Code:</h2>

      <div class="relative z-0 w-full mb-7 group ">
          <input formControlName="resetCode"  type="text" name="Code" id="Code" class="block py-3 px-3 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400  focus:outline-none focus:ring-0 focus:border-[var(--main-color)]   peer " placeholder=" " required />

          <label for="Code" class="peer-focus:font-medium peer-focus:text-medium absolute text-medium text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gary-500 peer-focus:dark:text-gray-400 dark:text-gray-200 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Code</label>
          @if(verifyCode.get("resetCode")?.errors && (verifyCode.get("resetCode")?.touched || verifyCode.get("resetCode")?.dirty)){
            <div class="flex p-4 my-2 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
              <div>
                  <ul class="mt-1.5 list-disc list-inside">
                    @if(verifyCode.get("resetCode")?.getError("required")){
                      <li>This input is required</li>
                    }
                    @if(verifyCode.get("resetCode")?.getError("pattern")){
                      <li>Enter Valid Code</li>
                    }
                </ul>
              </div>
            </div>
          }
      </div>
      @if(errMes) {
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">{{errMes}}</span>
          </div>
        </div>
      }
      @if(this.mesSuccess){
        <div class="p-4 my-2 text-sm text-green-800 rounded-lg bg-green-200 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span class="font-medium">Success </span> Now you can change the password
        </div>
      }
      <button [disabled]="isLoading" (click)="sumbitVerifyCode()" type="submit" class="text-white btn-main btn-main-light dark:btn-main-dark block  ">

        Verify Code
          @if(isLoading){
            <span class="fas fa-spin fa-spinner"></span>
          }
      </button>

    </form>

  }


    <!-- step 3 rest pass -->

  @if(this.step == 3){
    <form [formGroup]="restPassword"   class="dark:bg-gray-600  container md:mx-auto md:w-[60%] h-100 bg-gray-100 drop-shadow-[var(--shadow)] px-[60px] py-[20px] rounded-[10px]">
      <h2 class="text-2xl ml-[-35px] mb-9 dark:text-white font-xl">Reset Password</h2>
      <div class="relative z-0 w-full mb-7 group ">
        <input formControlName="email"  type="email" name="Email" id="Email" class="block py-3 px-3 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400  focus:outline-none focus:ring-0 focus:border-[var(--main-color)]   peer " placeholder=" " required />

        <label for="Email" class="peer-focus:font-medium peer-focus:text-medium absolute text-medium text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gary-500 peer-focus:dark:text-gray-400 dark:text-gray-200 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">new password</label>
        @if(restPassword.get("email")?.errors && (restPassword.get("email")?.touched || restPassword.get("email")?.dirty)){
          <div class="flex p-4 my-2 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if(restPassword.get("email")?.getError("required")){
                    <li>This input is required</li>
                  }
                  @if(restPassword.get("email")?.getError("email")){
                    <li>Enter Valid Email</li>
                  }
              </ul>
            </div>
          </div>
        }
    </div>

      <div class="relative z-0 w-full mb-7 group ">
          <input formControlName="newPassword"  type="password" name="pass" id="pass" class="block py-3 px-3 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400  focus:outline-none focus:ring-0 focus:border-[var(--main-color)]   peer " placeholder=" " required />

          <label for="pass" class="peer-focus:font-medium peer-focus:text-medium absolute text-medium text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gary-500 peer-focus:dark:text-gray-400 dark:text-gray-200 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Password :</label>
          @if(restPassword.get("newPassword")?.errors && (restPassword.get("newPassword")?.touched || restPassword.get("newPassword")?.dirty)){
            <div class="flex p-4 my-2 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Danger</span>
              <div>
                  <ul class="mt-1.5 list-disc list-inside">
                    @if(restPassword.get("newPassword")?.getError("required")){
                      <li>This input is required</li>
                    }
                    @if(restPassword.get("newPassword")?.getError("pattern")){
                      <li>Enter Valid password</li>
                    }
                </ul>
              </div>
            </div>
          }
      </div>
      @if(errMes && !mesSuccess) {
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">{{errMes}}</span>
          </div>
        </div>
      }
      @if(this.mesSuccess){
        <div class="p-4 my-2 text-sm text-green-800 rounded-lg bg-green-200 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span class="font-medium">Success </span> The password has been changed. <br> You will be transferred to the home page.
        </div>
      }
      <button [disabled]="isLoading" (click)="sumbitNewPass()" type="submit" class="text-white btn-main btn-main-light dark:btn-main-dark block  ">
        Reset Password
          @if(isLoading){
            <span class="fas fa-spin fa-spinner"></span>
          }
      </button>
    </form>

  }
</section>
