
.mySwiper2{
  margin: 0 auto;
  box-sizing: border-box;
}

swiper-container.mySwiper2 img {
  height: 100%;
}
.mySwiper2 swiper-slide{

  width: calc(( 100% - 10px) / 6) !important;
  margin: 5px auto 0 !important;
  opacity: 0.4;
  border: 3px solid gray;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1 !important;

}




